doctype html 
html(lang="en")
    head 
        title Contact Page
        style 
            include ../static/style1.css 
    body 
       nav
         .logo
           img(src='logo.jpg' alt='logo')
         .navigation
            ul
                li
                    a(href='/home') Home
                li
                    a(href='/services') Services
                li
                    a(href='/contact') Contact
            input#search(type='text' name='search box' placeholder='Search')
       section 
          .contactUs
            h1 CONTACT US -  Get this Coffee membership to avail huge Discounts
            
            #customersupport
                h2 Customer Support
                h3 +91 7865453767
                h3 Call us: (Monday to Saturday)
                p
                    b Timings:
                    |  9:00 AM to 7:00 PM (IST)
                h2 Sunday Closed
                h3 Whatsapp No: 
                h3 +91 7865453767
                p
                | To consult or any information 
                br
                |  (24x7 Support)
            
       footer
            p Links to Social Media
            #links
                a(href='')
                    img(src='linkedin.jpg' alt='linkedin')
                a(href='')
                    img(src='github.png' alt='github')
                a(href='')
                    img(src='fb.jpg' alt='facebook')
                a(href='')
                    img(src='insta.jpg' alt='instagram')
            p#copy copyright@ZeenathKousar2022 | All Rights Reseved

