doctype html 
html(lang="en")
    head 
        title Services Page
        style 
            include ../static/style1.css 
    body 
       nav
         .logo
           img(src='logo.jpg' alt='logo')
         .navigation
            ul
                li
                    a(href='/home') Home
                li
                    a(href='/services') Services
                li
                    a(href='/contact') Contact
            input#search(type='text' name='search box' placeholder='Search')
       .services
              h1 OUR SERVICES
                .boxes
                .box
                    img(src='img1.jpg' alt='img1')
                    h2 Coffee Bean-Arabica
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod quasi,
                        | placeat recusandae unde id
                        | repudiandae earum. Distinctio earum fugit, quos suscipit hic aliquid
                        | possimus repellat fugiat
                        | consectetur
                        | iusto culpa ex cum. Vitae tempore accusantium voluptate rerum alias.
                        | Libero, ad?
                .box
                    img(src='img2.jpg' alt='img2')
                    h2 Coffee Bean-Robusta
                    
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod quasi,
                        | placeat recusandae unde id
                        | repudiandae earum. Distinctio earum fugit, quos suscipit hic aliquid
                        | possimus repellat fugiat
                        | consectetur
                        | iusto culpa ex cum. Vitae tempore accusantium voluptate rerum alias.
                        | Libero, ad?

                .box
                    img(src='img3.jpg' alt='img3')
                    h2 Coffee Bean-Liberica
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod quasi,
                        | placeat recusandae unde id
                        | repudiandae earum. Distinctio earum fugit, quos suscipit hic aliquid
                        | possimus repellat fugiat
                        | consectetur
                        | iusto culpa ex cum. Vitae tempore accusantium voluptate rerum alias.
                        | Libero, ad?
       footer
            p Links to Social Media
            #links
                a(href='')
                    img(src='linkedin.jpg' alt='linkedin')
                a(href='')
                    img(src='github.png' alt='github')
                a(href='')
                    img(src='fb.jpg' alt='facebook')
                a(href='')
                    img(src='insta.jpg' alt='instagram')
            p#copy copyright@ZeenathKousar2022 | All Rights Reseved

